<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/uploadreviewimages" method="POST" enctype="multipart/form-data">
        <input type="file" name="profilepic" accept="image/*" required />
        <input type="text" name="name" placeholder="Name of the Team" required>
        <input type="text" name="review" placeholder="What he/she do?" required>
        <button type="submit">Submit</button>
    </form>
    <% if (typeof error !== "undefined" && error) { %>
        <div class="alert alert-danger"><%= error %></div>
      <% } %>
      <p class="text-danger">Please upload image files only.</p>

</body>

</html>