<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/uploadteamimages" method="POST" enctype="multipart/form-data">
        <input type="file" name="teamimages" accept="image/*"  required/>
        <input type="text" name="name" placeholder="Name of the Team" required>
        <input type="text" name="profession" placeholder="What he/she do?" required>
        <button type="submit">Submit</button>
    </form>
</body>

</html>